<div class="userAccount row">
        <div class="middler">
          <div class="grid">
            <main class="gridItem w-8">
              <div class="whitebox">
                <h2>Deine Daten</h2>
                
                <div class="boxcontent">
                  <form id="userData">
                      
                    <div class="formrow">
                      <label>Vorname</label>
                      <input type="text" id="vorname">
                    </div>

                    <div class="formrow">
                      <label>Alter</label>
                      <input type="text" id="vorname">
                    </div>

                    <div class="formrow">
                      <label>Gewicht</label>
                      <input type="text" id="vorname">
                    </div>

                    <div class="formrow">
                      <label>Grösse</label>
                      <input type="text" id="vorname">
                    </div>

                    <div class="formrow">
                      <label>Aktivitätslevel</label>
                      <select name="activityLevel" id="activityLevel">
                        <option value="1">Sitzende Tätigkeit</option>
                        <option value="2">2x pro Woche Sport</option>
                        <option value="3">5x pro Woche Sport</option>
                      </select>
                    </div>

                    <div class="formrow">
                      <label>Passwort</label>
                      <input type="password" id="vorname">
                    </div>

                  </form>
                </div>

              </div>
            </main>
            <aside class="gridItem w-4"></aside>
          </div>
        </div>
      </div>