<header class="header">
  <a routerLink="/" class="header__left logo">
    nu<sup>ba</sup>
  </a>
  <nav class="header__right mainnav">
    <ul class="mainnav__wrap">
      
      <li *ngIf="this.user.uid" class="mainnav__link">
          <a routerLink="/journal" routerLinkActive="navbutton-active" class="navbutton">
            <div class="navbutton__inner">
              <div class="fa fa-cutlery navbutton__icon" aria-hidden="true"></div>
              <div class="navbutton__title">erfassen</div>
            </div>
          </a>
      </li>
      
      <li *ngIf="this.user.uid" class="mainnav__link">
        <a routerLink="/analysis" routerLinkActive="navbutton-active" class="navbutton">
        <div class="navbutton__inner">
            <div class="fa fa-pie-chart navbutton__icon" aria-hidden="true"></div>
            <div class="navbutton__title">auswerten</div>
          </div>
        </a>
      </li>

      <li *ngIf="this.user.uid" class="mainnav__link">
        <a routerLink="/account" routerLinkActive="navbutton-active" class="navbutton navbutton-account">
          <div class="navbutton__inner">
            <div class="fa fa-user navbutton__icon" aria-hidden="true"></div>
            <div class="navbutton__title ">Konto</div>
            <div class="avatar" *ngIf="user.avatar"><img src="{{user.avatar}}" alt="{{user.name}}" class="avatar__image">
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="!this.user.uid" class="mainnav__link">
        <a routerLink="/welcome" routerLinkActive="navbutton-active" class="navbutton">
          <div class="navbutton__inner">
            <div class="navbutton__title">Willkommen</div>
          </div>
        </a>
      </li>

      <li *ngIf="!this.user.uid" class="mainnav__link">
        <a routerLink="/login" routerLinkActive="navbutton-active" class="navbutton">
          <div class="navbutton__inner">
            <div class="navbutton__title">Login</div>
          </div>
        </a>
      </li>

    </ul>
  </nav>
</header>