<div class="userAccount row">
  <div class="middler">
    <div class="grid">

      <main class="grid__item w-8">

        <div class="whitebox">
          <h2 class="whitebox__title">Deine Daten</h2>

          <div class="whitebox__content">
            <form id="userData">

              <div class="formrow">
                <label>Geschlecht</label>
                <select [(ngModel)]="user.gender" name="gender" id="gender">
                  <option value="">bitte auswählen...</option>
                    <option *ngFor="let gender of this.objKeys(genders)" value="{{gender}}">{{genders[gender].title}}</option>
                </select>
              </div>

              <div class="formrow">
                <label>Vorname</label>
                <input type="text" [(ngModel)]="user.name" name="vorname">
              </div>

              <div class="formrow">
                <label>Geburtsdatum</label>
                <input type="text" [(ngModel)]="user.birthday" type="date" name="geburtsdatum">
              </div>

              <div class="formrow">
                <label>Gewicht (kg)</label>
                <input type="number" [(ngModel)]="user.bodyweight" name="gewicht">
              </div>

              <div class="formrow">
                <label>Grösse (cm)</label>
                <input type="number" [(ngModel)]="user.bodyheight" name="groesse">
              </div>

              <div class="formrow">
                <label>allgemeines Aktivitätslevel</label>
                <select [(ngModel)]="user.activityLevel" name="activityLevel" id="activityLevel">
                  <option value="">bitte auswählen...</option>
                  <option *ngFor="let level of this.objKeys(activityLevels)" value="{{level}}">{{activityLevels[level].title}}</option>
                </select>
              </div>

              <div class="formrow">
                <label>Anzahl Stunden Sport pro Woche (cm)</label>
                <input type="number" [(ngModel)]="user.hoursOfSport" name="hoursOfSport">
              </div>

              <div class="formrow">
              <button class="button button-big" aria-label="speichern" (click)="saveUser()"><span class="fa fa-check" aria-hidden="true"></span> speichern</button>
              </div>

            </form>
          </div>

        </div>
      </main>

      <aside class="grid__item w-4">
        <div class="whitebox">
          <h2 class="whitebox__title">Berechnungen</h2>

          <div class="whitebox__content">
              BMI: {{ user.bmi }}<br>
              Alter: {{ user.age }}<br>
              Geschätzter Kalorien Grundumsatz: {{ user.metabolicRate }} kcal
              <hr>
              <h3>Dein täglicher Bedarf:</h3>
              Vitamin-C: xxx<br>
              Eisen: xxx<br>
              etc...<br>
          </div>
        </div>

        <div class="whitebox">
          <h2 class="whitebox__title">Log Out</h2>
          <div class="whitebox__content">
              <button (click)="userService.logout()" class="button button-light button-small">
                Logout
              </button>
          </div>
        </div>
      </aside>

    </div>
  </div>
</div>
