<div class="userAccount row">
  <div class="middler">
    <div class="grid">

      <main class="grid__item w-8">

        <div class="whitebox">
          <h2 class="whitebox__title">Deine Daten</h2>

          <div class="whitebox__content">

            <div class="loadingPlaceholder searchbar__loading" *ngIf="componentIsLoading"></div>

            <form id="userData" class="userform" *ngIf="!componentIsLoading">
              <div class="userform__formrow">
                <label class="userform__label">Geschlecht</label>
                <select class="userform__select" [(ngModel)]="user.gender" name="gender" id="gender">
                  <option value="">bitte auswählen...</option>
                    <option *ngFor="let gender of this.objKeys(genders)" value="{{gender}}">{{genders[gender].title}}</option>
                </select>
              </div>

              <div class="userform__formrow">
                <label class="userform__label">Vorname</label>
                <input class="userform__input" type="text" [(ngModel)]="user.name" name="vorname">
              </div>

              <div class="userform__formrow">
                <label class="userform__label">Geburtsdatum</label>
                <input class="userform__input" [(ngModel)]="user.birthday" type="date" name="geburtsdatum">
              </div>

              <div class="userform__formrow">
                <label class="userform__label">Gewicht (kg)</label>
                <input class="userform__input" type="number" [(ngModel)]="user.bodyweight" name="gewicht" min="30" max="200">
              </div>

              <div class="userform__formrow">
                <label class="userform__label">Grösse (cm)</label>
                <input class="userform__input" type="number" [(ngModel)]="user.bodyheight" name="groesse" min="60" max="200">
              </div>

              <div class="userform__formrow">
                <label class="userform__label">allgemeines Aktivitätslevel</label>
                <select class="userform__select" [(ngModel)]="user.activityLevel" name="activityLevel" id="activityLevel">
                  <option value="">bitte auswählen...</option>
                  <option *ngFor="let level of this.objKeys(activityLevels)" value="{{level}}">{{activityLevels[level].title}}</option>
                </select>
              </div>

              <div class="userform__formrow">
                <label class="userform__label">Anzahl Stunden Sport pro Woche</label>
                <input class="userform__input" type="number" [(ngModel)]="user.hoursOfSport" name="hoursOfSport" min="0" max="50">
              </div>

              <div class="userform__formrow">
              
              <div class="alert alert__{{savedMessage?.context}}" *ngIf="savedMessage.message">
                <span *ngIf="savedMessage.context == 'positive'" class="fa fa-check" aria-hidden="true"></span>
                <span *ngIf="savedMessage.context == 'negative'" class="fa fa-times" aria-hidden="true"></span>
                {{savedMessage?.message}}
              </div>

              <div class="alert alert__negative" *ngFor="
              let error of formValidation.messages">
                <span class="fa fa-times" aria-hidden="true"></span>
               {{error}}
              </div>

              <button type="submit" type="submit" class="button button-big" aria-label="speichern" (click)="saveUser()"><span class="fa fa-check" aria-hidden="true"></span> speichern</button>

              </div>

            </form>
          </div>

        </div>
      </main>

      <aside class="grid__item w-4">
        <div class="whitebox" *ngIf="user.isUserInfoComplete">
          <h2 class="whitebox__title">Berechnungen</h2>

          <div class="loadingPlaceholder" *ngIf="componentIsLoading"></div>

          <div class="whitebox__content" *ngIf="!componentIsLoading">
              BMI: {{ user.bmi }}<br>
              Alter: {{ user.age }}<br>
              Geschätzter Kalorien Grundumsatz: {{ user.metabolicRate }} kcal
          </div>
        </div>

        <div class="whitebox">
          <h2 class="whitebox__title">Passwort ändern</h2>

          <div class="whitebox__content">
            <div class="userform__formrow">

              <form>
                <label class="userform__label">Altes Passwort</label>
                <input class="userform__input" [(ngModel)]="oldPassword" type="password" name="Altes Passwort">
                <label class="userform__label">Neues Passwort</label>
                <input class="userform__input" [(ngModel)]="newPassword" type="password" name="Passwort">
                <label class="userform__label">Passwort bestätigen</label>
                <input class="userform__input" [(ngModel)]="newPasswordConfirmed" type="password" name="Passwort bestätigen">
                <div class="alert alert__negative" *ngFor="
                  let message of passwordValidation.messages">
                  <span class="fa fa-times" aria-hidden="true"></span> {{message}}
                </div>
                <button (click)="changePassword()" type="submit" class="button button-light button-small button-block">
                  Passwort ändern</button>
              </form>

              <div class="alert alert__positive" *ngIf="changedPassword.length > 0">
                <span class="fa fa-check" aria-hidden="true"></span> {{changedPassword}}
              </div>
            </div>

          </div>
        </div>

        <div class="whitebox" *ngIf="user.uid">
          <h2 class="whitebox__title">Log Out</h2>

          <div class="whitebox__content">
              <button (click)="loginService.logout()" class="button button-light button-small">
                Logout
              </button>
          </div>
        </div>
      </aside>

    </div>
  </div>
</div>
