<div class="userAccount row">
  <div class="middler">
    <div class="grid">

      <main class="grid__item w-8">

        <div class="whitebox">
          <h2 class="whitebox__title">Deine Daten</h2>

          <div class="whitebox__content">

            <div class="loadingPlaceholder searchbar__loading" *ngIf="!user.dataCompleted"></div>

            <form id="userData" *ngIf="user.dataCompleted">

              <div class="formrow">
                <label>Geschlecht</label>
                <select [(ngModel)]="user.gender" name="gender" id="gender">
                  <option value="">bitte auswählen...</option>
                    <option *ngFor="let gender of this.objKeys(genders)" value="{{gender}}">{{genders[gender].title}}</option>
                </select>
              </div>

              <div class="formrow">
                <label>Vorname</label>
                <input type="text" [(ngModel)]="user.name" name="vorname">
              </div>

              <div class="formrow">
                <label>Geburtsdatum</label>
                <input [(ngModel)]="user.birthday" type="date" name="geburtsdatum" required>
              </div>

              <div class="formrow">
                <label>Gewicht (kg)</label>
                <input type="number" [(ngModel)]="user.bodyweight" name="gewicht" min="30" max="200" required>
              </div>

              <div class="formrow">
                <label>Grösse (cm)</label>
                <input type="number" [(ngModel)]="user.bodyheight" name="groesse" min="60" max="200" required>
              </div>

              <div class="formrow">
                <label>allgemeines Aktivitätslevel</label>
                <select [(ngModel)]="user.activityLevel" name="activityLevel" id="activityLevel">
                  <option value="">bitte auswählen...</option>
                  <option *ngFor="let level of this.objKeys(activityLevels)" value="{{level}}">{{activityLevels[level].title}}</option>
                </select>
              </div>

              <div class="formrow">
                <label>Anzahl Stunden Sport pro Woche</label>
                <input type="number" [(ngModel)]="user.hoursOfSport" name="hoursOfSport" min="0" max="50">
              </div>

              <div class="formrow">

              <button type="submit" class="button button-big" aria-label="speichern" (click)="saveUser()"><span class="fa fa-check" aria-hidden="true"></span> speichern</button>


              <div class="button button-message button-big button-light" [ngClass]="{'button-hidden': savedMessage.length <= 0 }">
                {{savedMessage}}
              </div>

              </div>

              <div class="validation validation__message" *ngFor="
              let error of formValidation.messages">
               {{error}}
              </div>

            </form>
          </div>

        </div>
      </main>

      <aside class="grid__item w-4">
        <div class="whitebox">
          <h2 class="whitebox__title">Berechnungen</h2>

          <div class="loadingPlaceholder" *ngIf="!user.dataCompleted"></div>

          <div class="whitebox__content" *ngIf="user.dataCompleted">
              BMI: {{ user.bmi }}<br>
              Alter: {{ user.age }}<br>
              Geschätzter Kalorien Grundumsatz: {{ user.metabolicRate }} kcal
              <hr>
              <h3>Dein täglicher Bedarf:</h3>
              Vitamin-C: xxx<br>
              Eisen: xxx<br>
              etc...<br>
          </div>
        </div>

        <div class="whitebox" *ngIf="user.dataCompleted">
          <h2 class="whitebox__title">Log Out</h2>

          <div class="whitebox__content">
              <button (click)="loginService.logout()" class="button button-light button-small">
                Logout
              </button>
          </div>
        </div>
      </aside>

    </div>
  </div>
</div>
