// Module userAccount
@import '../../assets/styles/_vars';
@import '../../assets/styles/_global';

  .userform__formrow {
    display: block;
    margin-bottom: 5px;
  }

  .userform__input, .userform__select {
    width: 100%;
    font-family: inherit;
  }

  .userform__label {
    @extend .small;
  }