<div class="heroSearch row">
        <div class="middler">
          <div class="inner">
            <form class="search">
              <div class="fieldGroup food">
                <input #food type="text" placeholder="Was hast du gegessen?" id="food" value="{{activeFood?.name}}" (keyup)="filterResults(food.value)">
              </div>
              <div class="fieldGroup quantity">
                <input type="number" value="{{activeFood?.quantityProposal}}" id="quanitity">
                <label for="food" class="foodLabel">{{activeFood?.measurement}}</label>
              </div>
              <div class="fieldGroup submit">
                 <button type="submit" id="saveFood" (click)="addToJournal(activeFood.id); $event.preventDefault()" [disabled]="!activeFood?.id" ><span class="fa fa-check" aria-hidden="true"></span></button>
              </div>  
            </form>
            <ul class="searchResults"> <!-- *ngIf="searchResults" -->
               <li *ngFor="let result of searchResults" (click)="addToForm(result.id)">{{result.name}}</li>
            </ul>
          </div>
        </div>
      </div>