<nuba-search></nuba-search>

<div class="mainGrid row">
        <div class="middler">

          <div class="grid">       
            
            <div class="gridItem w-8">
              <main class="dailyFood whitebox">
                
				        <journal-list></journal-list>

              </main>
            </div>

            <aside class="gridItem w-4">
             
              <div class="whitebox coachTip">

                <h2>dein Coach</h2>

                <div class="coachImage">
                <img src="dist/images/coach-box.png" alt="dein Coach"></div>

                <div class="boxcontent">
                  ...
                </div>
              </div>
              <div class="whitebox">
                <h2>Auswertung</h2>
                <div class="boxcontent">
                  
                  <span class="small  light">
                  > Die Charts müssen noch per Javascript angesteuert werden um die breite data-percent auf die breite der :after elemente zu übertragen
                  </span>
                  <br>

                  <span class="small light"><br>Beispiel Kurzform:</span>
                  <div class="evaluation short">

                    <div class="evalLine">
                      <div class="label">Proteine</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>
                 
                    <div class="evalLine">
                      <div class="label">Kohlenhy.</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                    <div class="evalLine">
                      <div class="label">Zucker</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                    <div class="evalLine">
                      <div class="label">Fette</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                    <div class="evalLine">
                      <div class="label">Vitamine</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                   </div>

                  <span class="small"><br>Beispiel lange Form:</span>
                  <div class="evaluation detail">

                    <div class="evalLine">
                      <div class="label">Proteine</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>
                 
                    <div class="evalLine">
                      <div class="label">Kohlenhy.</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                    <div class="evalLine">
                      <div class="label">Zucker</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                    <div class="evalLine">
                      <div class="label">Fette</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                    <div class="evalLine">
                      <div class="label">Vitamine</div>
                      <div class="chart" data-percent="50">
                        <span>50%</span>
                      </div>
                    </div>

                   </div>

                  <a href="">Details</a>
                </div>
              </div>
            </aside>

          </div><!-- contentwrap -->
        </div>
      </div>