<app-search></app-search>
<div class="mainGrid row row-noMobPadding">
  <div class="middler">

    <div class="grid">

      <div class="grid__item w-8">
        <main class="dailyFood whitebox">

          <app-journal-list></app-journal-list>

        </main>
      </div>

      <aside class="grid__item w-4">

        <div
          class="whitebox coachTip"
          *ngIf="coachTip"
          (click)="mobCoachVisibility()"
          [ngClass]="
            {'coachTip-visible': mobCoachVisible,
            'coachTip-newHint': newHintAvailable}"
        >

          <h2 class="whitebox__title">Kari's Tipp:</h2>

          <div class="coachTip__image">
            <img src="../assets/images/coach-box.png" alt="dein Coach"></div>

          <div class="whitebox__content">

            <div class="coachTip__hint">
              «{{coachTip}}»
            </div>

            <div class="coachTip__buttons">
              <div class="button justmobile">schliessen</div>
              <a class="button button-light" routerLink="/analysis">zur Detailauswertung</a>
            </div>
            
          </div>
        </div>
      
      </aside>

    </div><!-- contentwrap -->
  </div>
</div>
