<div class="screen search">
  <h2 class="whitebox__title">Das hast am {{selectedDate | momentjs: 'Do MMMM'}} gegessen:</h2>
  <div class="whitebox__content">

    <div class="loadingPlaceholder searchbar__loading" *ngIf="componentIsLoading"></div>

    <div class="foodlist" *ngIf="componentIsLoading == false">
      <app-date-chooser></app-date-chooser>
      <table class="foodtable" *ngIf="journalList.length > 0">
        <tr class="foodtable__entry foodentry" *ngFor="let entry of journalList">

        <template [ngIf]="!entry.editable">
            <td class="foodentry__block foodentry__block-time"> {{entry.date | momentjs: 'HH:mm' }} Uhr</td>
            <td class="foodentry__block foodentry__block-foodname">
              {{entry.name}}
            </td>
            <td class="foodentry__block foodentry__block-quantity">{{entry.quantity}}{{entry.unit}}</td>
            <td class="foodentry__block foodentry__block-triggers">
              <button class="button button-small button-light" aria-label="bearbeiten" (click)="makeEditable(entry)"><span class="fa fa-edit" aria-hidden="true"></span>
              </button>
              <button class="button button-small button-light" aria-label="löschen" (click)="deleteEntry(entry)"><span class="fa fa-minus" aria-hidden="true"></span>
              </button>
            </td>
          </template>
          <template [ngIf]="entry.editable">
            <td class="foodentry__block foodentry__block-time">
              <input type="number" [(ngModel)]="entry.timeProvH" (keyup.enter)="updateEntry(entry)" maxlength="2" min="0" max="24" size="2" class="time small"/> :
              <input type="number" [(ngModel)]="entry.timeProvM" (keyup.enter)="updateEntry(entry)" maxlength="2" min="0" max="59" size="2" class="time small"/>
            </td>
            <td class="foodentry__block foodentry__block-foodname">
              {{entry.name}}
            </td>
            <td class="foodentry__block foodentry__block-quantity"><input type="number" [(ngModel)]="entry.quantity" (keyup.enter)="updateEntry(entry)" class="quantity small"/>
              {{entry.unit}}
            </td>
            <td class="foodentry__block foodentry__block-triggers">
              <button class="button button-small" aria-label="speichern" (click)="updateEntry(entry)"><span class="fa fa-check" aria-hidden="true"></span>
              </button>
            </td>
          </template>
        </tr>
      </table>
      <div class="message message-info" *ngIf="!journalList.length">
        <p>Hey, trage ein was du gegessen hast.<br>
        So kann ich dir helfen, deine Ernährung zu optimieren.</p>
        <img src="../assets/images/coach-ipad.png" width="100" alt="Coach am iPad" />
      </div>
    </div>
  </div>
</div>
