<div class="heroSearch">
        <div class="middler">
          <div class="inner">
            <form class="search" (ngSubmit)="addToJournal(searchForm.value)"  #searchForm="ngForm" [ngClass]="{'foodNotSelected': selectedFood===null }">
              <div class="fieldGroup food">
                <input #food type="text" autocomplete="off" placeholder="Was hast du gegessen?" id="food" value="{{selectedFood?.name}}" (keyup)="filterResults(food.value)">
              </div>
              <div class="fieldGroup quantity">
                <input type="number" [(ngModel)]="selectedQuantity" id="quantity" name="quantity" >
                <label for="food" class="foodLabel">{{selectedFood?.matrix_unit}}</label>
              </div>
              <div class="fieldGroup submit">
                 <button type="submit" id="saveFood" [disabled]="selectedFood===null" ><span class="fa fa-check" aria-hidden="true"></span></button>
              </div>
            </form>
            <ul class="searchResults"> <!-- *ngIf="searchResults" -->
               <li *ngFor="let result of searchResults" (click)="addToForm(result.$key)">{{result.name}}</li>
            </ul>
          </div>
        </div>
      </div>
