<div class="searchbar">
  <div class="middler">

    <div class="searchbar__inner">
      
      <form class="searchbar__form" (ngSubmit)="addToJournal(searchForm.value)"  #searchForm="ngForm" [ngClass]="{'searchbar__form-noSelection': selectedFood===null }">
        
        <div class="loading-placeholder searchbar__loading" *ngIf="foodList?.length == 0">
          Wir laden deine Nahrungsmittel...
        </div>

        <div class="searchbar__food" *ngIf="foodList?.length > 0">
          <input #food class="searchbar__maininput" type="text" autocomplete="off" placeholder="Was hast du gegessen?" value="{{selectedFood?.name}}" (keyup)="keyDown(food.value, $event)" (focus)="activateFoodlist()" (focusout)="deactivateFoodlist()" >
        </div>
        <div class="searchbar__quantity searchbar__fieldgroup">
          <input type="number" [(ngModel)]="selectedQuantity" id="quantity" name="quantity" >
          <label for="food" class="foodLabel">{{selectedFood?.matrix_unit}}</label>
        </div>
        <div class="searchbar__submit searchbar__fieldgroup">
           <button type="submit" id="saveFood" class="searchbar__submitbutton" [disabled]="selectedFood===null" ><span class="fa fa-check" aria-hidden="true"></span></button>
        </div>
  
      </form>
      
      <ul class="searchbar__results searchbar__fieldgroup resultlist" [ngClass]="{'resultlist-hidden': !foodListActive }">
         <li
          *ngFor="
            let result of foodList | searchFilter: searchFilterString:foodShortlist; let i = index; let last = last"
            (click)="addToForm(result.$key)" class="resultlist__entry" [ngClass]="{'resultlist__entry-active': isSelectedItem(i == foodListActiveRow, last, result) }" >{{result.name}}</li>
      </ul>

    </div>

  </div>
</div>
