// Module login
@import '../../assets/styles/_vars';

.loginbox {
	max-width: 300px;
	margin: 0px auto;
}

.logininput {
	margin-bottom: $boxpadding;
}

.logininput__label {
	display: block;
}

.logininput__input {
	width: 100%;

	&:invalid {
		border-bottom-color: $dark-gray;
		background: #fff;
	}
}

@media screen and (max-width: $bp-mobile) {
	
	.row-welcome {
		padding-top: 50px
	}

	.loginbox {
		width: auto;
		max-width: none;
	}

}