<div class="logIn row">
    <div class="middler">

        <div class="loginbox loginbox__tabs" *ngIf="!user.uid">
            <button class="loginbox__tab" [ngClass]="
            {'loginbox__tab-active': loginmode === 'newaccount'}" (click)="switchLoginMode('newaccount')">neu anmelden</button>
            <button class="loginbox__tab" [ngClass]="
            {'loginbox__tab-active': loginmode === 'login'}" (click)="switchLoginMode('login')">log in</button>
        </div>

    	<div class="loginbox whitebox">
    		<div class="loginbox__buttons" *ngIf="!user.uid">

                <form (ngSubmit)="login('Password', $event)" action="">
                    <div class="formrow logininput">
                        <label for="reginfoMail logininput__label">E-Mail</label>
                        <input class="logininput__input" type="email" [(ngModel)]="reginfo.email" name="reginfoMail" required>
                    </div>
                    <div class="formrow logininput">
                        <label for="reginfoPass logininput__label">Passwort</label>
                        <input class="logininput__input" type="password" [(ngModel)]="reginfo.pass" name="reginfoPass" required>
                    </div>
                    <div class="formrow logininput" *ngIf="loginmode === 'newaccount'">
                        <label for="reginfoPass logininput__label">Passwort wiederholen</label>
                        <input class="logininput__input" type="password" [(ngModel)]="reginfo.pass2" name="reginfoPass" required>
                    </div>

                    <div class="alert alert__negative" *ngFor="
                      let error of formValidation.messages">
                       {{error}}
                      </div>

                    <button class="button button-login" type="submit">
                      <span class="fa fa-envelope" aria-hidden="true"></span> anmelden mit E-Mail
                    </button>
                </form>
                
			</div>
            <div class="logged-in-info" *ngIf="user.uid">
                <p>Du bist erfolgreich eingeloggt.</p>

                <div class="message" *ngIf="!user.birthday || !user.bodyweight || !user.bodyheight">
                <p><strong>Hallo, ich bin Kari... dein Coach.</strong></p>
                <p><img src="../assets/images/coach-pc.png" width="100" alt="Coach am iPad" /></p>
                <p>Ich helfe dir, dich ausgewogen zu ernähren. - Am Besten vervollständigst du dein Profil, dann kann ich dir Tipps zu deiner Ernährung geben.</p>

                <p><a class="button" routerLink="/account">Profil vervollständigen</a></p>
                <p><a class="button button-light" routerLink="/journal">gleich loslegen</a>
                </p>
                
            </div>

            </div>
            
		</div>
    </div>
</div>
