<div class="logIn row">
    <div class="middler">

    	<div class="loginbox whitebox">
    		<div class="loginbox__buttons" *ngIf="!user.uid">
		    	<button ng (click)="login('Mail')" class="button button-login" disabled>
                  <span class="fa fa-envelope" aria-hidden="true"></span> Login mit E-Mail
                </button>
                <button ng (click)="login('Google')" class="button button-login">
				  <span class="fa fa-google" aria-hidden="true"></span> Login mit Google Konto
				</button>
                <button ng (click)="login('Facebook')" class="button button-login" disabled>
                  <span class="fa fa-facebook" aria-hidden="true"></span> Login mit Facebook
                </button>
			</div>
            <div class="logged-in-info" *ngIf="user.uid">
                <p>Du bist erfolgreich eingeloggt.</p>
                <p class="alert" *ngIf="!user.birthday || !user.bodyweight || !user.bodyheight">Bitte vervollständige dein Profil, dann kanns losgehen... <a href="account">zum deinem Account</a></p>
            </div>
		</div>
    </div>
</div>