@import '../../assets/styles/_vars';
@import '../../assets/styles/_global';

.evaluation {

  .evalLine {

    .label {
      @extend .small;
    }

    .chart {
      position: relative;
      background-color: $darker-gray;


      &:after {
        content: "";
        display: block;

        position: absolute;
      }

    }
  }

  &.detail {

    .evalLine {

      .chart {

        width: 100%;
        height: 3px;

        &:after {
          left: 0px;
          top: 0px;

          height: 100%;
          width: 50%;

          background: $main-color;

        }

        span {
          display: none;
        }
      }

    }
  }

  &.short {

    display: flex;
    flex-flow: row wrap;

    .evalLine {

      width: 33.33%;

      .chart {

        width: 30px;
        height: 30px;

        border-radius: 100%;
        overflow: hidden;

        &:after {

          width: 100%;
          height: 50%;
          bottom: 0px;

          background: $main-color;
        }

        span {
          display: none;
        }
      }
    }
  }

}
