
<div class="mainGrid row">
  <div class="middler">

    <div class="grid">

      <div class="grid__item w-8">
        <main class=" whitebox">

          <h1 class="whitebox__title">Impressum & Disclaimer</h1>

          <h2>Nährwerdaten</h2>
          <p>Die Nährwertdaden & Nahrungsmittel wurden von <a href="http://www.naehrwertdaten.ch/" target="_blank">naehrwertdaten.ch</a> übernommen.</p>

          <h2>Berechnungen & Hinweise zur Nutzung</h2>
          <p>Berechnungen & Tagesbedarf wurden in Zusammenarbeit mit einer Ernährungsberaterin und gemäss internationalen Richtlinien <a href="Health_Information/Dietary_Reference_Intakes.aspx" target="_blank">https://ods.od.nih.gov/</a> implementiert. Trotzdem können Berechnungsfehler und Abweichungen nicht ausgeschlossen werden. Die Nutzung der App und die Interpretation der Ergebisse erfolgt auf eigene Verantwortung.</p>
          <p>Für folgende Personengruppen können leider keine Berechnungen angeboten werden: Unter 18 Jährige, Schwangere und Personen mit medizinischen Problemen.</p>
          
          <h2>Das Projekt</h2>
          <p>Diese Applikation wurde im Rahmen einer Projektarbeit des CAS Front End Engineering 2016/2017 von Sonja Näf und Stefan Amport erarbeitet.
          Eingesetzte Technologien & Frameworks:</p>
          <ul>
          <li><span class="fa fa-code" aria-hidden="true"></span> Angular 2 / angular-cli</li>
          <li><span class="fa fa-google" aria-hidden="true"></span> Firebase</li>
          <li><span class="fa fa-upload" aria-hidden="true"></span> travis-ci.org</li>
          <li><span class="fa fa-font-awesome" aria-hidden="true"></span> fontawesome.io</li>
          <li><span class="fa fa-google" aria-hidden="true"></span> Google Fonts</li>
          <li><span class="fa fa-picture-o" aria-hidden="true"></span> Bilder: Adobe Stock</li>
          </ul>

        </main>
      </div>

      <aside class="grid__item w-4">
        <div class="whitebox">
          <a href="https://github.com/stefanamport/nuba" target="_blank"><span class="fa fa-github" aria-hidden="true"></span> Dieses Projekt auf Github.</a>
        </div>
      </aside>

    </div><!-- contentwrap -->
  </div>
</div>
