$light-gray: #f7f7f7;
$darker-gray: darken($light-gray, 5);
$dark-gray: darken($light-gray,15);

$main-color: #2fb56d;
$main-color-dark: darken(#2fb56d, 10);

$headerheight: 50px;
$boxpadding: 10px;

