@import "vars";

body {
	font-family: 'Open Sans', sans-serif;
	background-color: $light-gray;
}

h2 {
	font-size: 1.0em;
}

.middler {
	max-width: 600px;
	margin: 0px auto;
}

button {
	background: $main-color;
	border: 0px;

	border-radius: 3px;
	color: #fff;

	transition: .2s all;
	cursor: pointer;

	&:hover {
		background: $main-color-dark;
	}
}

.whitebox {
	background: #fff;
	margin-bottom: $boxpadding;
	padding: $boxpadding;

	h2 {
		margin: 0px -$boxpadding;
		padding: $boxpadding/2 $boxpadding;

		border-bottom: 1px solid $darker-gray;
	}
}

.foodList {
	
	margin-top: 20px;

	table {
		width: 100%;

		tr {
			border-bottom: 1px solid $darker-gray;
		}
	}	
}

.heroElement {

	img {
		width: 100%;
	}

	position: relative;
	z-index: 5;

	.heroSearch {
		position: absolute;
		left: 0px;
		top: 0px; 
		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		.inner {
			width: 80%;
		}
	}
}

.heroSearch {
	.inner {

		background: $darker-gray;
		padding: $boxpadding;
		border-radius: 6px;

		position: relative;

		input {
			width: 100%;
			box-sizing : border-box;

			padding: $boxpadding;

			font-size: 1.4em;
			font-family: inherit;

			border: 1px solid $dark-gray;

			transition: .4s all;

			border-radius: 6px;

			&:focus {
				outline: none;
				box-shadow: 0 0 20px rgba(0,0,0,.1);
			}
		}

		.searchResults {
			&, li {
				list-style: none;
				margin: 0px;
				padding: 0px;
			}

			position: absolute;
			top: 80px;
			left: 0;

			width: 100%;

			background: #fff;

			border-radius: 5px;

			display: none;

			li {
				padding: $boxpadding;
			}
		}

		input:focus + .searchResults {
			display: block;
		}
	}
}

header {
	background: rgba(255,255,255,.95);
	box-shadow: 0 0 3px rgba(0,0,0,.2);

	position: fixed;
	z-index: 10;

	left: 0px;
	width: 100%;

	padding: 0 $boxpadding;

	display: flex;

	#mainnav {
		
		margin-left: auto;

		ul, li {
			list-style: none;
			margin: 0px;
			padding: 0px;

		}

		li {
			display: inline-block;
		}

		a {
			display: block;
			line-height: $headerheight;
			padding: 0 10px;

			transition: .2s all;

			text-decoration: none;

			color: $main-color;

			&:hover, &.active {
				background: $light-gray;
			}
		}
	}

	.logo {
		font-size: 2em;
		color: $main-color;
		line-height: $headerheight;

	}
}

.contentwrap {
	display: flex;
	flex-flow: row wrap;

	margin: 0 -$boxpadding/2;

	main {
		width: 70%;
		padding: $boxpadding;
		box-sizing: border-box;
	}
	aside {
		width: 30%;
		padding: $boxpadding;
		box-sizing: border-box;
	}
}

