// Module login
@import '../../assets/styles/_vars';

.welcome {
	text-align: center;
	padding-top: 100px;
}

.welcome__imge {
	width: 100%;
	margin-right: -10%;
}

.welcome__wrap {
	max-width: 600px;
	margin: 0px auto;
}
.welcome__login {
	margin: 10px 0;
}