<div class="welcome row">
    <div class="middler">

        <div class="welcome__wrap">
            <h1>nu<sup>ba</sup><br>Dein Food-Coach.</h1>
            <p>Sag uns was du gegessen hast und Coach Kari gibt dir Tipps zur Verbesserung deiner Ernährung. Wir werten neben essenziellen Makronährstoffen auch Mikronährstoffe wie Vitamine, Mineralstoffe und Spurenelemente aus.</p>
            <p><a routerLink="/login" class="button button-big welcome__login">jetzt loslegen</a><br>
            <a routerLink="/impressum" >Impressum & Disclaimer</a></p>

            <img src="../../assets/images/blank-slate.jpg" alt="Erfassen, Auswerten, Tipps erhalten. Das ist NuBa." class="welcome__imge" />
        </div>

    </div>
</div>